@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll{
    scrollbar-width: none;
}
.disable[disabled] {
    padding: 0.5rem;
    width: 100%;
    border-radius:20px ;
    background-color: rgb(199, 199, 199);
}
button[disabled]:hover{
    background-color: rgb(199, 199, 199);
}
button[disabled]:focus{
    background-color: rgb(199, 199, 199);
}